<style>
	.container { text-align: center;}
	i.fb, span.fb { color: #3b5998;}
	i.tw, span.tw { color: #00aced;}
	i.google, span.google { color: #dd4b39;}
	i.linkin, span.linkin { color: #007bb6;}
	i.youtube, span.youtube {   color: #f00000;}
		
	.menu:hover{
		
	}
</style>