a:hover{
	background: white;
	color: blue;


}
.item{
	height: 70%;
	overflow: hidden;
	margin-top: 20px;
}
.col-md-3{
	margin-top: 50px;
	transition: 1s;

}
.chitiet:hover{
	background-color:#0473aaa6;
	margin-top: 0px;
	transition: 1s;

}
@media only screen maxwidth(1080px){

}
.col-md-3 .item:hover{
	
	overflow: visible;
	/* border-left: red solid 1px;
    padding-left: 12px; */
}
.img{
	border-radius:5px;
}
.bg-primary1{
	background: white;
}
.bg-primary2{
	background: linear-gradient(#43b9e1,#106d8b);
}

.anh{	    
	padding-bottom: 3
	px;


}.item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.chitiets img{
	/* width: 200px;
	height: 200px; */
	object-fit: contain;
}
.chitiet .disabled {
    display: block !important;
}

